/* general */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    font-family: montserrat;
}
/************************************
 main***************************************** */
main{
    height: calc(100% - 92px);
}
/* impostazione sidebar */
#side_bar{
    flex-direction: column;
    width: 230px;
    height: 100%;
    background-color: black;
    overflow: hidden;
}
/* menu opzioni */
.logo img{
    width: 80%;
    margin: 1rem;
    margin-bottom: 2rem;
}
.logo img:last-child{
    display: none;
}
.menu svg{
    width: 1.5rem;
}
.menu span,.user a{
    vertical-align: text-bottom;
}
.home,.search,.librery,.playlist,.user{
    padding-left: 1rem;
    font-size: 15px;
    line-height: 2rem;
}
#side_bar .menu .home a{
    color: white;
}
.search svg,.librery svg,.user svg{
    filter: brightness(0.5)
}
.home{
    border-left: 2px solid #9AE22D;
}
/* playlist */
.playlist{
    overflow: hidden;
    height: 100%;
}
.create{
    height: 85px;
    align-items: center;
}
.create i{
    vertical-align: middle;
}
.playlist>.list {
    overflow-y: auto;
    height: calc(100% - 85px);
  }
  .user{
      min-height: 100px;
      margin-top: auto;
  }
.playlist h1{
    font-size: 1rem;
    margin: .5rem 0;
    
}
.playlist .fa-plus-square{
    font-size: 2.5rem;
    color: #A3A3A3;
    margin-right: .6rem;
}
.playlist .add span{
    font-size: 16px;
}
.playlist .list a{
    display: block;
}
/* sezione con immagine utente e nome */
.user svg{
    width: 22px;
}
.user hr{
    margin-right: 1rem;
    margin-bottom: 10px;
    border: 1px solid #5A5A5A;
}
.user .account h3{
    display: inline-block;
    margin: 0 .5rem;
    vertical-align: super;
}
.account svg{
    border-radius: 50%;
    background-color:#A3A3A3 ;
    filter: contrast(.5);
    width: 1.2rem;
}
/* interfaccia con brani */
#content{
    width: 100%;
    background-color:#141922 ;
    overflow: auto;
}
/* barra .upgrade */
.upgrade{
    justify-content: end;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.774);
    position: fixed;
    width:calc(100% - 230px);
    height: 5.5rem;
    z-index: 10;
}
#content .upgrade>div{
    margin-right: 2rem;
    border: 1px solid;
    padding: 1rem 2rem;
    border-radius: 3rem;
    font-size: .7rem;
}
/* scelte genere */
.choices{
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 7rem auto;
    margin-bottom: 0;
}
.choices div hr{
    width: 2rem;
    margin: 5px auto;
    border-color: #9AE22D;
}
.choices a{
    color: #7D7F84;
    text-align: center;
    width: calc(100%/6);
}
/* lista canzoni con copertine */
/* sezione riprodotti di recente */
.music_selection h2{
    margin: 2rem 1rem;
}
.recently_list{
    margin-left: 1rem;
    text-align: center;
    flex-wrap: wrap;
}
.recently_list>div{
    width: calc(100%/6);
}
.recently_list img{
    width: 90%;
}
.recently_list h3{
    margin: 1rem 0;
}
.recently_list div:nth-child(2) h3{
    width: 11rem;
    margin: 1rem auto;
}
/* sezione "creato per te" */
.music_selection h4{
    margin: -1rem 1rem;
}
.make_for_you img,.popular_artist img{
    width: 11.5rem;
}
.make_for_you div{
    margin: 2rem 1rem;
}
.make_for_you{
    text-align: center;
    margin-bottom: -1.5rem;
}
.make_for_you h3{
    margin-top: 10px;
}
/* artisti popolar */
.popular_artist img{
    border-radius: 50%;
    margin-left: 1rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}
.popular_artist{
    text-align: center;
    padding: 1rem 0;
}
/*****************************
 footer******************* */
footer{
     height: 92px;
     width: 100%;
     background-color: #282828;
     position: fixed;
     z-index: 100;
}
#play_bar{
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
#play_bar>div{
    width: calc(100%/3);
}

/* left_side */

#play_bar .left .cover img{
    width: 55px;
    margin: 0 10px;
}
#play_bar .left .song_title,#play_bar .left .icon,#play_bar .right{
    align-items: center;
}
#play_bar .left .song_title{
    margin-left: 10px;
    margin-right: 50px;
}
#play_bar .left .icon i{
    margin: 0 10px;
}
#play_bar .left h2{
    font-size: 90%;
}
#play_bar .left h4{
    font-size: 80%;
}
/* central side */
#play_bar .central{
    flex-direction: column;
    align-items: center;
}
.contenuto_central{
    width: 100%;
}
.top_bar{
    justify-content: center;
    width: 70%;
    margin: auto;
}
.top_bar i{
    font-size: 1.5rem;
    margin: 0 1rem;
}
.bottom_bar{
    align-items: center;
    margin-top: 1rem;
}
.container_play_time{
    height: 3px;
    background-color:#5A5A5A ;
    width: 380px;
    margin: 0 2rem;
    position: relative;
}
.play_time{
    width: 30%;
    background: white;
    height: 100%;
}
.container_play_time .circle{
    top: -.35rem;
    left: 30%;
}
.bottom_bar h4{
    font-size: 13px;
}
/* right side */
.contenuto_right{
    align-items: center;
    justify-content: end;
    width: 100%;
}
#play_bar .right i{
    margin: 0 10px;
}
.container_regola_audio{
    width:8rem;
    height: 3px;
    background-color: #5A5A5A;
    margin-right: 1rem;
    position: relative;
}
.regola_audio{
    width: 25%;
    background-color: white;
    height: 100%;
}
.container_regola_audio .circle{
    top: -7px;
    left: 25%;
}
/* utility */
a,.music_selection h5,.music_selection h4,#play_bar .left h4,#play_bar .left .icon i{
    text-decoration: none;
    color: #5A5A5A;
}
.flex{
    display: flex;
}
body,#content .upgrade a{
    color: white;
}
.circle{
    position: absolute;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: white;
    display: none;
}
#content .hidden_play{
    position: absolute;
    font-size: 5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
}
.recently_list article,.make_for_you article{
    position: relative;
}
/* effettistica */
.upgrade div:hover,.top_bar .fa-play-circle:hover{
    transform: scale(120%);
}
.container_regola_audio:hover .regola_audio,.container_play_time:hover .play_time{
    background-color:#9AE22D ;
}
.container_regola_audio:hover .circle,.container_play_time:hover .circle{
    display: inline-block;
}
.container_regola_audio:hover,.container_play_time:hover,.song_title h2:hover,#play_bar .song_title h4:hover,#play_bar .icon i:hover{
    cursor: pointer;
}
a:hover,.song_title h2:hover,#play_bar .song_title h4:hover,#play_bar .icon i:hover,.add:hover .fa-plus-square{
    color: white;
}
.song_title h2:hover,#play_bar .song_title h4:hover{
    text-decoration: underline;
}
article img:hover{
    filter: brightness(.5);
}
#content article:hover .hidden_play{
    display: inline-block;
}
/* mediaquery ***************************/

@media screen and ( max-width :1024px){
    .recently_list>div{
        width: calc(100%/4);
        margin-bottom: 1rem;
    }
    .choices a{
        width: calc(100%/5);
        margin-bottom: 2rem;
    }
    #play_bar>div{
        width: calc(100%/3);
    }
    .container_play_time{
        margin: 0 5px;
    }
}
@media screen and ( max-width :768px){
    .recently_list>div{
        width: calc(100%/2);
    }
    .choices a{
        width: calc(100%/3);
    }
    .make_for_you img,.popular_artist img{
        width: 90%;
    }
    #play_bar>div{
        width: calc(100%/3);
    }
    .icon{
        flex-direction: column;
    }
    #play_bar .left .icon .fa-heart{
        margin-bottom: 1rem;
    }
    .contenuto_right, .contenuto_left{
        width: 80%;
    }
    #play_bar .left .song_title {
        margin-right: 13px;
    }
    .contenuto_right{
        margin-left: auto;
    }
}
@media screen and ( max-width :600px){
    #side_bar{
        width: 50px;
    }
    #side_bar .logo img:first-child,#side_bar .user a,#side_bar .user h3,#side_bar .user hr,#side_bar .menu span,#side_bar .playlist{
        display: none;
    }
    #side_bar .logo img:last-child{
        display: inline-block;
        width: 70%;
        margin: 15px 5px;
    }
    .home, .search, .librery,.user{
        padding-left: 5px;
        border: none;
    }
    .menu svg, .user svg{
        width: 75%;
    }
    .user .download svg{
        width: 50%;
        margin-left: 4px;

    }
    .choices a{
        width: calc(100%/4);
        font-size: .8rem;
        font-weight: bold;
    }
    .upgrade{
        width: calc(100% - 50px);
    }
    #play_bar .left .song_title{
        margin: 0 2px;
    }
    #play_bar .right i{
        margin: 0 3px;
    }
    .top_bar i{
        margin: 0 10px;
    }
}