/* general */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    font-family: montserrat;
    min-width: 1440px;
}
/************************************
 main***************************************** */
main{
    height: calc(100% - 92px);
}
/* impostazione sidebar */
#side_bar{
    display: flex;
    flex-flow: column wrap;
    width: 230px;
    background-color: black;
    justify-content: space-between;
}
/* menu opzioni */
.menu img{
    width: 60%;
    margin: 1rem;
    margin-bottom: 2rem;
}
.menu svg{
    width: 1.5rem;
}
.menu span,.user a{
    vertical-align: text-bottom;
}
.home,.search,.librery,.playlist,.user{
    padding-left: 1rem;
    font-size: 15px;
    line-height: 2rem;
}
#side_bar .menu .home a{
    color: white;
}
.search svg,.librery svg,.user svg{
    filter: brightness(0.5)
}
.home{
    border-left: 2px solid #9AE22D;
}
/* playlist */
.playlist h1{
    font-size: 1rem;
    margin: .5rem 0;
    
}
.playlist .fa-plus-square{
    font-size: 2.5rem;
    color: #A3A3A3;
    margin-right: .6rem;
}
.playlist .add span{
    font-size: 16px;
}
.playlist .list a{
    display: block;
}
/* sezione con immagine utente e nome */
.user svg{
    width: 22px;
}
.user hr{
    margin-right: 1rem;
    margin-bottom: 10px;
    border: 1px solid #5A5A5A;
}
.user .account h3{
    display: inline-block;
    margin: 0 .5rem;
    vertical-align: super;
}
.account svg{
    border-radius: 50%;
    background-color:#A3A3A3 ;
    filter: contrast(.5);
    width: 1.2rem;
}
/* interfaccia con brani */
#content{
    width: 100%;
    background-color:#141922 ;
    overflow: auto;
}
/* barra .upgrade */
.upgrade{
    justify-content: end;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.774);
    position: fixed;
    width:calc(100% - 20vh);
    height: 5.5rem;
}
#content .upgrade>div{
    margin-right: 2rem;
    border: 1px solid;
    padding: 1rem 2rem;
    border-radius: 3rem;
    font-size: .7rem;
}
/* scelte genere */
.choices{
    justify-content: center;
    margin-top: 7rem;
}
.choices div hr{
    width: 2rem;
    margin: 5px auto;
    border-color: #9AE22D;
}
.choices a{
    color: #7D7F84;
    margin: 0 .7rem;
}
/* lista canzoni con copertine */
/* sezione riprodotti di recente */
.music_selection h2{
    margin: 2rem 1rem;
}
.recently_list{
    justify-content: space-around;
    margin-left: 9px;
    text-align: center;
}
.recently_list img,.make_for_you img,.popular_artist img{
    width: 11.5rem;
}
.recently_list h3{
    margin: 1rem 0;
}
.recently_list div:nth-child(2) h3{
    width: 11rem;
    margin: 1rem auto;
}
/* sezione "creato per te" */
.music_selection h4{
    margin: -1rem 1rem;
}
.make_for_you div{
    margin: 2rem 1rem;
}
.make_for_you{
    text-align: center;
    margin-bottom: -1.5rem;
}
.make_for_you h3{
    margin-top: 10px;
}
.make_for_you div:last-child img{
    margin-left: -1rem;
}
/* artisti popolar */
.popular_artist img{
    border-radius: 50%;
    margin: 3rem 1rem;
}
/*****************************
 footer******************* */
#play_bar{
     height: 92px;
     width: 100%;
     background-color: #282828;
     position: fixed;
}
/* utility */

a,.music_selection h5,.music_selection h4{
    text-decoration: none;
    color: #5A5A5A;
}
.flex{
    display: flex;
}
body,#content .upgrade a{
    color: white;
}